# MOUNT A CSV

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np

# READ A CSV FILE OF NUMBERS

In [ ]:
file1=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/data.csv")
file1

   ROLL  MARKS  PERCENTAGE
0     1     55          60
1     2     97          94
2     3     66          70
3     4     81          84
4     5     72          80

# CREATE A LIST OF NUMBERS OUT OF  THE CSV

In [ ]:
file1_list = file1['MARKS'].tolist()
file1_list

[55, 97, 66, 81, 72]

# CALCULATE MEAN

In [ ]:
np.average(file1_list)

74.2

# CALCULATE VARIANCE

In [ ]:
np.var(file1_list)

201.36

# CALCULATE STANDARD DEVIATION

In [ ]:
np.std(file1_list)

14.190137420053409